<div class="container mt-3 details">
    <br>
    <br>
    <div class='row'>
        <div class='col-md-2'></div>
        <div class='col-md-8'>
            <h4 style="font-style: italic;">Add Neighborhood</h4>
            <div class="submit-form">
                <div *ngIf="!submitted">
                    <div class="form-group">
                        <label for="title">Name</label>
                        <input type="text" class="form-control" id="title" required [(ngModel)]="hood.name" name="title" />
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" id="description" required [(ngModel)]="hood.description" name="description" />
                    </div>

                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="text" class="form-control" id="location" required [(ngModel)]="hood.location" name="location" />
                    </div>
                    <div class="form-group">
                        <label for="police_number">police_number</label>
                        <input type="text" class="form-control" id="police_number" required [(ngModel)]="hood.police_number" name="police_number" />
                    </div>
                    <div class="form-group">
                        <label for="health_tell">health_tell</label>
                        <input type="text" class="form-control" id="health_tell" required [(ngModel)]="hood.health_tell" name="health_tell" />
                    </div>
                    <div class="text-center">
                        <button (click)="saveNeighbor()" class="btn btn-success">Submit</button>

                    </div>
                </div>

                <div *ngIf="submitted">
                    <h4>You submitted successfully!</h4>
                    <button class="btn btn-success" (click)="newNeighbor()">Add</button>
                </div>
            </div>
        </div>
        <div class='col-md-2'></div>
    </div>
</div>