<div class="container mt-3 details">
    <br>
    <br>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div *ngIf="currentHood.id" class="edit-form">
                <h4>Update Neighbour</h4>
                <form>
                    <div class="form-group">
                        <label for="title">Name</label>
                        <input class="form-control" id="title" required [(ngModel)]="currentHood.name" name="title" />
                    </div>

                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control" id="description" required [(ngModel)]="currentHood.description" name="description" />
                    </div>

                    <div class="form-group">
                        <label for="location">Location</label>
                        <input class="form-control" id="location" required [(ngModel)]="currentHood.location" name="location" />
                    </div>
                    <div class="form-group">
                        <label for="police_number">police_number</label>
                        <input class="form-control" id="police_number" required [(ngModel)]="currentHood.police_number" name="police_number" />
                    </div>
                    <div class="form-group">
                        <label for="health_tell">health_tell</label>
                        <input class="form-control" id="health_tell" required [(ngModel)]="currentHood.health_tell" name="health_tell" />
                    </div>
                </form>



                <button class="btn btn-outline-danger mr-2" (click)="deleteNeighbor()">
                    Delete
                </button>

                <button type="submit" class="btn btn-outline-success mb-2" (click)="updateNeighbor()">
                    Update
                </button>
                <p>{{ message }}</p>
            </div>

            <div *ngIf="!currentHood.id">
                <br />
                <p>Cannot access this Neighborhood..</p>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>