<div class="container mt-3 details">
    <br>
    <br>
    <div class="list row">

        <div class="col-md-6 text-center">
            <h4 class="text-left">Neighborhood List
                <span style="float:right"> <a class="btn btnAdd" routerLink="/addneighborhood"><i class="fa fa-plus"
                            aria-hidden="true"></i>

                        Add Neighborhood
                    </a></span>
            </h4>
            <hr>
            <br>
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let tutorial of neighbor; let i = index" [class.active]="i == currentIndex" (click)="setActiveNeighbor(tutorial, i)">
                            Name: {{ tutorial.name }}<br> Location: {{ tutorial.location }}<br> Description: {{ tutorial.description }}<br> Police_Number: {{ tutorial.police_number }}<br> Health_Tell: {{ tutorial.health_tell }}

                        </li>

                    </ul>
                </div>
                <div class="col-md-2"></div>

            </div>



        </div>
        <div class="col-md-6">
            <div *ngIf="currentHood">
                <h4>Neighborhood : {{ currentHood.name }}</h4>
                <hr>
                <br>
                <div>
                    <label><strong>Name:</strong></label> {{ currentHood.name }}
                </div>
                <div>
                    <label><strong>Description:</strong></label> {{ currentHood.description }}
                </div>
                <div>
                    <label><strong>Location:</strong></label> {{ currentHood.location }}
                </div>
                <p>

                    <div>
                        <label><strong>Police Niumber:</strong></label> {{ currentHood.police_number }}
                    </div>
                    <div>
                        <label><strong>Health Tell:</strong></label> {{ currentHood.health_tell }}
                    </div>
                    <p>

                        <div>
                            <label><strong>Status:</strong></label> {{ currentHood.name ? "Published" : "Pending" }}
                        </div>
                        <a class="btn btnEdit" routerLink="/neighborhood/{{ currentHood.id }}">
                    Edit
                </a>

            </div>

            <div *ngIf="!currentHood">
                <h4>Click on a Neighborhood for details...</h4>
                <hr>
                <br>
            </div>
        </div>
    </div>
</div>