<div class="container mt-3 details">
    <br>
    <br>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div *ngIf="currentBusiness.id" class="edit-form">
                <h4>Update Business</h4>
                <form>
                    <div class="form-group">
                        <label for="title">Name</label>
                        <input class="form-control" id="title" [(ngModel)]="currentBusiness.name" name="title" />
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input class="form-control" id="description" [(ngModel)]="currentBusiness.description" name="description" />
                    </div>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input class="form-control" id="email" [(ngModel)]="currentBusiness.email" name="email" />
                    </div>
                    <div class="form-group">
                        <label for="user">User</label>
                        <input class="form-control" id="user" [(ngModel)]="currentBusiness.user" name="user" />
                    </div>
                    <div class="form-group">
                        <label for="description">neighborhood</label>
                        <input class="form-control" id="neighborhood" [(ngModel)]="currentBusiness.neighborhood" name="neighborhood" />
                    </div>

                    <div class="form-group">
                        <label><strong>Status:</strong></label> {{ currentBusiness.published ? "Published" : "Pending" }}
                    </div>
                </form>



                <button class="btn mr-2 btn-outline-danger" (click)="deleteBusiness()">
                    Delete
                </button>

                <button type="submit" class="btn mb-2 btn-outline-success" (click)="updateBusiness()">
                    Update
                </button>
                <p>{{ message }}</p>
            </div>

            <div *ngIf="!currentBusiness.id">
                <br />
                <p>Cannot access this Business...</p>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>