<div class="container mt-3 details">
    <br>
    <br>
    <div class="list row">

        <div class="col-md-6 text-center">
            <h4 class="text-left">Business List
                <span style="float:right"> <a class="btn btnAdd" routerLink="/add"><i class="fa fa-plus"
                            aria-hidden="true"></i>

                        Add Business
                    </a></span>
            </h4>

            <hr>
            <br>

            <div class='row'>
                <div class="col-md-2"></div>
                <div class="col-md-8">

                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let tutorial of business; let i = index" [class.active]="i == currentIndex" (click)="setActiveBusiness(tutorial, i)">
                            Business Name: {{ tutorial.name }}<br> <br>{{ tutorial.description }}<br> <br>Contact: {{ tutorial.email }}
                        </li>

                    </ul>
                </div>
                <div class="col-md-2"></div>
            </div>




        </div>
        <div class="col-md-6 text-center">
            <div *ngIf="currentBusiness">
                <h4>Business {{ currentBusiness.name }}</h4>
                <hr>
                <br>
                <div>
                    <label><strong>Title:</strong></label> {{ currentBusiness.name }}
                </div>
                <div>
                    <label><strong>Description:</strong></label> {{ currentBusiness.description }}
                </div>
                <div>
                    <label><strong>Contact Us:</strong></label> {{ currentBusiness.email }}
                </div>
                <div>
                    <label><strong>Status:</strong></label> {{ currentBusiness.email ? "Published" : "Pending" }}
                </div>
                <a class="btn btnEdit" routerLink="/business/{{ currentBusiness.id }}">
                    Edit
                </a>

            </div>

            <div *ngIf="!currentBusiness">
                <h4>Click on a Business for details...</h4>
                <hr>
                <br>
            </div>
        </div>
    </div>
</div>